<div class="box">
  <h1 class="titulo">Cadastro de Farmacêutico</h1>
  <form
    class="form-box"
    [formGroup]="formFarmaceutico"
    (ngSubmit)="cadastrar()"
  >
    <input
      formControlName="nome"
      placeholder="Nome"
      type="text"
      maxlength="64"
    />
    <input formControlName="cpf" placeholder="CPF" type="text" maxlength="14" />
    <input
      formControlName="niver"
      placeholder="Data de Nascimento"
      type="date"
    />
    <button type="submit" [disabled]="!formFarmaceutico.valid">
      Cadastrar
    </button>
  </form>
  <button class="cadRan" (click)="cegonha()">Cadastro Random</button>
  <p>Farmacêuticos</p>
  <table class="tabela">
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Data de Nascimento</th>
      <th>Idade</th>
      <th>Documento Válido</th>
      <th>Ações</th>
    </tr>
    <tr *ngFor="let farmaceutico of list">
      <td>{{ farmaceutico.nome }}</td>
      <td>{{ farmaceutico.documento }}</td>
      <td>{{ farmaceutico.niver | date: "dd/MM/yyyy" }}</td>
      <td>{{ farmaceutico.idade }}</td>
      <td>{{ farmaceutico.documentoValido }}</td>
      <td>
        <button (click)="remover(farmaceutico)">Remover</button>
      </td>
    </tr>
  </table>
</div>
