/* You can add global styles to this file, and also import other style files */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../src/assets/pica-pau-retardado.jpeg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 80% 0;
  h1 {
    font-size: px;
  }
  button{
    cursor: pointer;
  }
}

.box {
  text-align: center;

  p {
    font-weight: bold;
  }
  button {
    padding: 6px;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
  }
  hr {
    border: none;
    border-top: solid 1px #333;
  }
}


.form-box {
  margin: 0 auto;
  text-align: center;
  width: 30%;
  input, select {
    width: 500px;
    border-radius: 6px;
    padding: 10px 5px;
    margin: 10px;
    display: block;
    font-size: 20px;
  }

  button {
    padding: 5px;
    font-size: 30px;
  }
}

.tabela,
th,
td {
  font-size: 20px;
  text-align: center;
  margin: 50px auto;
  padding: 0;
  width: 50%;
  border: 3px solid green;
  background-color: #fff;
  th {
    padding: 5px;
  }
}

.modal {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  .fechar {
    text-align: right;
    padding-right: 30px;
    cursor: pointer;
  }
  .form-box {
    margin-top: 250px;
    background-color: #fff;
    z-index: 9999;
    position: relative;
  }
  .fundo {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #444;
    opacity: 0.8;
    z-index: 999;
  }
}
